<h4>Acelerómetro</h4>
<div class="row">
	<div id="accelerometer-line" class="col-md-12">
		<canvas id="line"></canvas>
	</div>
</div>
<p>
	<button type="button" class="btn btn-danger disabled="false"">Grabar</button>
	<button type="button" class="btn btn-primary" disabled="true">Detener</button>
	<button type="button" class="btn btn-default pull-right app-menu">Menu</button>
</p>