<div class="row">
	<form class="form-horizontal col-md-12" role="form">
		<legend>Tasa de Refresco <strong>(ms)</strong></legend>
		<div class="form-group">
			<label for="potentiometer_refresh_rate" class="col-md-3 col-md-offset-1 control-label">Potenciómetro</label>
			<div class="col-md-6">
				<select name="potentiometer_refresh_rate" class="form-control">
					<option value="20">20</option>
					<option value="100">100</option>
					<option value="200">200</option>
					<option value="500">500</option>
					<option value="1000">1000</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="accelerometer_refresh_rate" class="col-md-3 col-md-offset-1 control-label">Acelerómetro</label>
			<div class="col-md-6">
				<select name="accelerometer_refresh_rate" class="form-control">
					<option value="20">20</option>
					<option value="100">100</option>
					<option value="200">200</option>
					<option value="500">500</option>
					<option value="1000">1000</option>
				</select>
			</div>
		</div>
	</form>
</div>
<p>
	<button type="button" class="btn btn-primary">Guardar</button>
	<button type="button" class="btn btn-default pull-right app-menu">Menu</button>
</p>