<h4>Historial de mediciones</h4>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Tipo</th>
				<th>Fecha</th>
				<th>Hora</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{id}}</td>
				<td>{{type}}</td>
				<td>{{dateToDate}}</td>
				<td>{{dateToHour}}</td>
			</tr>
		</tbody>
	</table>
</div>
<ul class="pagination">
	<li><a href="#">&laquo;</a></li>
	<li class="active"><a href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">4</a></li>
	<li><a href="#">5</a></li>
	<li><a href="#">&raquo;</a></li>
</ul>
<button type="button" class="btn btn-default pull-right app-menu">Menu</button>