<div class="top-panel">
	<span class="clock"></span>
	<img class="battery" src="images/battery-charge.png"><img>
	<img class="battery" src="images/usb.png"><img>
</div>
<div class="main-content">
	<div class="content-menu">
		<p class="menu">
			<button type="button" class="btn btn-primary btn-block app-history">
				Historial
			</button>
			<button type="button" class="btn btn-primary btn-block app-potentiometer">
				Potenciómetro
			</button>
			<button type="button" class="btn btn-primary btn-block app-accelerometer">
				Acelerómetro
			</button>
			<button type="button" class="btn btn-primary btn-block app-configuration">
				Configuración
			</button>
			<button type="button" class="btn btn-danger btn-block app-shutdown">
				Apagar
			</button>
		<p>
	</div>
	<div class="content-content"></div>
</div>